<html>
<head>
<title> Hello World </title>
</head>

<body>
<p>Hello World</p>

	<div class="container">
	<h1>Hashtags and pictures that people like</h1>
		<div class="row">
		{{#each images}}
			<div class="col-xs-4" class="images" style="text-align:center">
				<img src="{{image}}" class="img-responsive" class="img hashtag-img"><br>
				<h4>#{{hashtag}}</h4>

				<form id="deleteHashTag" role="form" method="post" action="/delete">
					<input type="hidden" name="id" value="{{_id}}">
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>


			</div>
		{{/each}}
	</div>

</body>
</html>